.cards{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card{
    background-color: antiquewhite;
    border: 1px solid;
    border-radius: 9px;
    box-shadow: inset;
    text-align: center;
    width: 300px;
}